<form class="new-entry-form" [formGroup]="form">

  <legend>Address</legend>

  <mat-form-field appearance="standard">
    <mat-label>Full Address</mat-label>
    <input matInput type="text" placeholder="" [formControl]="addressControl" maxlength="250">
    <mat-error *ngIf="addressControl.invalid">Address is required, max: 250</mat-error>
  </mat-form-field>

  <div></div>

  <mat-form-field appearance="standard">
    <mat-label>City</mat-label>
    <input matInput type="text" placeholder="" [formControl]="cityControl" maxlength="150">
    <mat-error *ngIf="cityControl.invalid">City is required</mat-error>
  </mat-form-field>

  <div></div>

  <mat-form-field appearance="standard">
    <mat-label>Country</mat-label>
    <input matInput type="text" placeholder="" [formControl]="countryControl" maxlength="100">
    <mat-error *ngIf="countryControl.invalid">Country is required</mat-error>
  </mat-form-field>

  <div></div>
</form>
