<h4>Hi!</h4>

<p>
  This is Benjamín, a software engineer who loves coding, reading and spend time with family.
</p>

<p>
  This project is intended to show my skills for the angular framework in some key features like:
</p>

<ul>
  <li>Routing</li>
  <li>Nested Routing</li>
  <li>Composition</li>
  <li>State management</li>
  <li>Services</li>
  <li>Observables</li>
  <li>Modules (Feature modules and shared modules)</li>
  <li>Lazy loading</li>
  <li>Form validations</li>
  <li>Nested forms (Composition)</li>
  <li>Parent to child components data sharing and comunications</li>
  <li>Child to parent components data sharing and comunications</li>
  <li>Consume of JSON/REST apis</li>
  <li>Master/detail views</li>
  <li>Usage of reactive programing with RxJS</li>
</ul>

<p>
  See some of my open sourced projects at:
</p>

<ul>
  <li><a href="https://github.com/xaamin" target="_blank" rel="noopener noreferrer">https://github.com/xaamin</a></li>
  <li><a href="https://gitlab.com/xaamin" target="_blank" rel="noopener noreferrer">https://gitlab.com/xaamin</a></li>
  <li><a href="https://gitlab.com/itnovado" target="_blank" rel="noopener noreferrer">https://gitlab.com/itnovado</a></li>
  <li><a href="https://gitlab.com/sat-suite" target="_blank" rel="noopener noreferrer">https://gitlab.com/sat-suite</a></li>
</ul>
