<form class="new-entry-form" [formGroup]="form">

  <legend>New contact</legend>

  <div class="py-3"> {{ ' ' }}</div>

  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput type="text" placeholder="" [formControl]="nameControl" maxlength="150">
    <mat-error *ngIf="nameControl.invalid">Name is required, max: 150</mat-error>
  </mat-form-field>

  <div></div>

  <mat-form-field appearance="fill">
    <mat-label>Email</mat-label>
    <input matInput type="email" placeholder="Ex. me@email.dev" [formControl]="emailControl" maxlength="150">
    <mat-error *ngIf="emailControl.invalid">Email is required</mat-error>
  </mat-form-field>

  <div></div>

  <mat-form-field appearance="fill">
    <mat-label>Phone number</mat-label>
    <input matInput type="text" placeholder="Ex. +52 55 5555 55555" [formControl]="phoneControl" min="1985" max="2022">
    <mat-error *ngIf="phoneControl.invalid">Year is required, prefix it with a +, include country code</mat-error>
  </mat-form-field>

  <div></div>

  <div class="text-right">
    <button mat-raised-button mat-dialog-close>
      Cancel
    </button>

    {{ ' ' }}

    <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="onSave()">
      Save
    </button>
  </div>
</form>
